In [4]:
#make the necessary imports and load the data and answer the following Questions

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

## Regression using Linear Regression Classifier
This question requires you to predict median_house_value (i.e. your target variable) using the features available to you in housing.csv

In [5]:
#Load 'housing.csv'
house = pd.read_csv('housing.csv')

### Data Exploration & Wrangling (5 questions * 4 points)
1.	What is the structure of your dataset? (shape)
2.	What is/are the main feature(s) in your dataset? (column names)
3.	List the features as Categorical or Continuous. (head/tail)
4.	Describe the statistical features (viz. mean, median, standard deviation) of these features?
5.	Are their missing values in your dataset?

In [6]:
#1 
house.shape

(20640, 10)

In [7]:
#2
house.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [8]:
#3 
house.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [11]:
#4
house.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [16]:
#5
house.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Data Preparation (4 questions * 5 points)

1. Use one of the 3 methods taught in class for handling Missing Values

2. Drop the categorical column ['ocean_proximity']. Also drop remove latitude and longitude from the predictors list

3. Report the dimensions and type after separating the dataset to predictors(X) and target(y). 

4. Perform train-test split. Set test_size to 0.1 and random_state to 42 and report the dimensions of X_train and y_train

In [17]:
#1
# I will go easy way and just drop missing values
house_dropNA = house.dropna(inplace=False)
house_dropNA.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [18]:
#2
house_dropNA= house_dropNA.drop(columns=['ocean_proximity','longitude', 'latitude',])

In [19]:
#3
X = house_dropNA.drop(columns=['median_house_value'])
y = house_dropNA[['median_house_value']]

print(X.shape, y.shape)

(20433, 6) (20433, 1)

In [20]:
#4
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
print(X_train.shape, y_train.shape)

(18389, 6) (18389, 1)

### Modeling (2 qustions * 10 points)
1.	Devise one model for this problem : A Linear Regression Classifier - take 'median_house_value' as your target variable' and the rest as predictors

2.	Report MSE for the classifier.

In [21]:
#1
print("Linear Regression")
#initialize linear regression model
lr = LinearRegression()
#fit training set to your LR model
lr = lr.fit(X_train, y_train)
#predict on the test set using  model
y_pred = lr.predict(X_test)

Linear Regression

In [22]:
#2
#evaluate: use MSE
print("MSE for LR: %.2f" %mean_squared_error(y_test,y_pred))

MSE for LR: 5730812370.90